.footerContainer {
    background-color: var(--neutral-dark);
    color: var(--neutral-light);
    padding: 3rem 1rem;
    text-align: center;
}

.footerText {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
