
:root {
  --brand-primary: #3A506B;
  --brand-secondary: #FFDAB9;
  --brand-accent: #E07A5F;
  --brand-accent-dark: #d46a4d;
  --brand-neutral-light: #F4F1DE;
  --brand-neutral-dark: #3D405B;
  --brand-success: #81B29A;

  --bs-primary: var(--brand-primary);
  --bs-secondary: var(--brand-secondary);
  --bs-success: var(--brand-success);
  --bs-light: var(--brand-neutral-light);
  --bs-dark: var(--brand-neutral-dark);
}

body {
  font-family: var(--font-lato), sans-serif;
  background-color: var(--brand-neutral-light);
  color: var(--brand-neutral-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lilita-one), sans-serif;
  color: var(--brand-primary);
}

.custom-btn {
  display: inline-block;
  text-align: center;
  background-color: var(--brand-accent);
  color: var(--brand-neutral-light);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.custom-btn:hover {
  background-color: var(--brand-accent-dark);
}

.text-accent {
    color: var(--brand-accent);
}

.bg-primary {
    background-color: var(--brand-primary);
}

.text-secondary {
    color: var(--brand-secondary);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: var(--brand-neutral-light);
  width: 100%;
  position: relative;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.hero-content {
  flex: 1;
}

.hero-image-desktop {
  flex: 1;
  display: none; 
}

.hero-image-mobile {
  display: none;
}

.scroller {
    max-width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
    mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

.scroller__inner {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 60s linear infinite;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 60s linear infinite;
}


.scroller:hover .scroller__inner {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.card_container {
    width: 350px;
    margin: 0 1rem;
}

.blog-post-container {
  padding-top: 80px;
  overflow-x: hidden;
}

@media (min-width: 769px) {
  .hero-image-desktop {
    display: block;
  }
  .hero {
    background-color: var(--brand-primary);
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 4rem 2rem;
    background-color: var(--brand-primary);

  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  
  .hero-image-mobile {
    display: block;
    margin-bottom: 2rem;
  }

  .hero-content h1,
  .hero-content .lead {
    color: white;
  }

 .custom-btn {
    padding: 1.5rem 2rem;
  }
}
