:root {
  --brand-primary: #3A506B;
  --brand-secondary: #FFCDB2;
  --brand-accent: #E07A5F;
  --brand-accent-dark: #d46a4d;
  --brand-neutral-light: #F4F1DE;
  --brand-neutral-dark: #3D405B;
  --brand-success: #81B29A;

  --bs-primary: var(--brand-primary);
  --bs-secondary: var(--brand-secondary);
  --bs-success: var(--brand-success);
  --bs-light: var(--brand-neutral-light);
  --bs-dark: var(--brand-neutral-dark);
}

body {
  font-family: var(--font-lato), sans-serif;
  background-color: var(--brand-neutral-light);
  color: var(--brand-neutral-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lilita-one), sans-serif;
  color: var(--brand-primary);
}

.brand-navbar {
  background-color: var(--brand-primary);
  font-family: var(--font-lilita-one), sans-serif;
}

.custom-btn {
  background-color: var(--brand-accent);
  color: var(--brand-neutral-light);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: var(--brand-accent-dark); 
}

.text-accent {
    color: var(--brand-accent);
}

.bg-primary {
    background-color: var(--brand-primary);
}

.text-secondary {
    color: var(--brand-secondary);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: var(--brand-primary);
  color: var(--brand-neutral-light);
  gap: 2rem;
  width: 100%;
}
