:root {
  --brand-primary: #3A506B;
  --brand-secondary: #FFDAB9;
  --brand-accent: #E07A5F;
  --brand-accent-dark: #d46a4d;
  --brand-neutral-light: #F4F1DE;
  --brand-neutral-dark: #3D405B;
  --brand-success: #81B29A;

  --bs-primary: var(--brand-primary);
  --bs-secondary: var(--brand-secondary);
  --bs-success: var(--brand-success);
  --bs-light: var(--brand-neutral-light);
  --bs-dark: var(--brand-neutral-dark);
}

body {
  font-family: var(--font-lato), sans-serif;
  background-color: var(--brand-neutral-light);
  color: var(--brand-neutral-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lilita-one), sans-serif;
  color: var(--brand-primary);
}

.brand-navbar {
  background-color: var(--brand-primary);
  font-family: var(--font-lilita-one), sans-serif;
}

.navbar-brand.text-secondary, .navbar-brand-peach {
  color: var(--brand-secondary) !important; /* Forcing the color */
  text-decoration: underline;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.navbar-brand.text-secondary:hover, .navbar-brand-peach:hover {
  transform: scale(1.05);
}


.custom-btn {
  background-color: var(--brand-accent);
  color: var(--brand-neutral-light);
  padding: 1rem 2.5rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: var(--brand-accent-dark); 
}

.text-accent {
    color: var(--brand-accent);
}

.bg-primary {
    background-color: var(--brand-primary);
}

.text-secondary {
    color: var(--brand-secondary);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: var(--brand-primary);
  color: var(--brand-neutral-light);
  gap: 2rem;
  width: 100%;
}

.scroller {
    max-width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
    mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}

.scroller__inner {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll 60s linear infinite;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 60s linear infinite;
}


.scroller:hover .scroller__inner {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

.card_container {
    width: 350px;
    margin: 0 1rem;
}